.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 1rem;

  font-family: "Caveat", cursive;
  color: #012a4a;
  font-size: 1.2rem;

  .button-item {
    width: 1rem;
    border: none;
    background: inherit;
    cursor: pointer;

    &:hover {
      color: #ffffff;
      text-shadow: 0px 0px 5px #f8f5b7;
    }
  }
}
