.thirdPage {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  .cardWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 60vw;

    background: rgb(234, 228, 233);
    background: linear-gradient(
      180deg,
      rgba(234, 228, 233, 1) 60%,
      rgba(255, 241, 230, 1) 100%
    );
    border: 2px solid #bf953f;
    border-radius: 2px;

    padding: 1rem;

    .exit {
      width: 1rem;
      border: none;
      background: inherit;
      cursor: pointer;

      &:hover {
        color: #ffffff;
        text-shadow: 0px 0px 5px #f8f5b7;
      }
    }

    .card {
      font-family: "Caveat", cursive;
      color: #012a4a;
      font-size: 1.2rem;
    }
  }
}
